---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Badge from "../components/Badge.astro";
import "../styles/global.css";
import GitHub from "../icons/GitHub.astro";
import Linkedin from "../icons/Linkedin.astro";
import SocialPills from "../components/SocialPills.astro";
import Mail from "../icons/Mail.astro";
import Instagram from "../icons/Instagram.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../icons/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Footer from "../components/Footer.astro";
import Code from "../icons/Code.astro";
import Project from "../components/Project.astro";
import Contacto from "../components/Contacto.astro";
import Formacion from "../components/Formacion.astro";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portfolio de Rafa Desarrollador y programador de Software y Web  "
>
  <main class="w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <SectionContainer>
      <!-- La imagen puedo ponerla en el header también -->
      <img
  class="rounded-full w-16 h-16 sm:w-20 sm:h-20 mb-4 object-cover"
  src={`${import.meta.env.BASE_URL}fotoProg.jpg`}
  alt="Imagen de Rafa"
/>
      <h1
        class="text-white text-4xl sm:text-5xl font-bold flex flex-col sm:flex-row gap-4 pb-6 lg:pb-10"
      >
        Hey soy Rafa

        <div class="w-fit self-start">
          <Badge>
            <a
              href="https://www.linkedin.com/in/rafael-garcia-rgc-677988153/"
              target="_blank"
            >
              Disponible para trabajar
            </a>
          </Badge>
        </div>
      </h1>
      <h2
        class="text-base sm:text-xl lg:text-2xl leading-relaxed max-w-[700px]"
      >
        <span class="text-yellow-200/90">
          Desarrollador fullstack de aplicaciones</span
        >
        Soy Técnico Superior en Desarrollo de Aplicaciones Multiplataforma y, en este portfolio, presento algunos de los trabajos y proyectos
        que he realizado hasta ahora. Me especializo en el diseño, desarrollo y mantenimiento de aplicaciones web y móviles completas, 
        combinando interfaces modernas con arquitecturas backend robustas y escalables.
        He trabajado con sistemas CRM y ERP para un gobierno autonómico, participando en el desarrollo e integración de diferentes módulos
        y funcionalidades. Además, cuento con certificaciones Salesforce Administrator y Salesforce Developer, 
        así como el Certificado Profesional de Ciberseguridad de Google. Disfruto resolviendo problemas técnicos,
        aprendiendo nuevas tecnologías y creando productos digitales útiles, escalables y fáciles de usar.
      </h2>
      <br />
      <nav class="flex gap-3 sm:gap-4 mt-8 flex-wrap">
        <SocialPills
          href="https://www.linkedin.com/in/rafael-garcia-rgc-677988153/"
        >
          <Linkedin class="w-6 h-6" />Linkedin
        </SocialPills>
        <SocialPills href="https://github.com/rafaa1710">
          <GitHub class="w-6 h-6" />GitHub
        </SocialPills>
        <SocialPills href="https://mail.google.com/mail/?view=cm&fs=1&to=rafaprogramador17@gmail.com&su=Contacto%20Portfolio">
          <Mail class="w-6 h-6" />rafaprogramador17@gmail.com
		</SocialPills>
        <SocialPills href="https://www.instagram.com/rafappcrea/">
          <Instagram class="w-6 h-6" />rafappCrea
        </SocialPills>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-2xl sm:text-3xl font-semibold mb-3 flex gap-x-2 items-center"
      >
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-2xl sm:text-3xl font-semibold mb-8 sm:mb-10 flex gap-x-2 items-center"
      >
        <Code class="size-7" />Proyectos Destacados
      </h2>
      <!-- Aquí van los proyectos -->
      <Project />
    </SectionContainer>
	<SectionContainer id="formacion">
  <h2
    class="text-2xl sm:text-3xl font-semibold mb-8 flex gap-x-2 items-center"
  >
    Formación y Certificaciones
  </h2>

  <Formacion />
</SectionContainer>
	<SectionContainer id="contacto">
  <h2
    class="text-2xl sm:text-3xl font-semibold mb-8 sm:mb-10 flex gap-x-2 items-center"
  >
    <Mail class="size-7" />Contacto
  </h2>

  <Contacto />
</SectionContainer>
      
    
    <br />

    <footer class="px-4 sm:px-6 lg:px-8 mt-20 sm:mt-32">
      <Footer />
    </footer>
  </main>
</Layout>
