<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    



    <nav class="flex flex-row flex-wrap gap-x-6 sm:gap-x-10 opacity-80 justify-center">
        
        <a class="text-lg md:text-xl lg:text-2xl px-3 py-2 touch-manipulation" href="#Sobremi">Sobre mí</a>
        <a class="text-lg md:text-xl lg:text-2xl px-3 py-2 touch-manipulation" href="#experiencia">Experiencia</a>
        <a class="text-lg md:text-xl lg:text-2xl px-3 py-2 touch-manipulation" href="#proyectos">Proyectos</a>
        <a class="text-lg md:text-xl lg:text-2xl px-3 py-2 touch-manipulation" href="#contacto">Contacto</a>
    </nav>

</header>